# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# SQLite / other local db
*.sqlite3

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/
